<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'tabs.countries' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div scrollX>
      <div class="scrollX">
        <ng-container *ngFor="let region of regions$ | async">
          <ion-chip
            outline
            [color]="(activeRegion$ | async) === region ? 'primary' : ''"
            (click)="onChangeRegion(region)"
          >
            <ion-label>{{region}}</ion-label>
          </ion-chip>
        </ng-container>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="(loadingStates$ | async).isFailed">Failed!!!</p>

  <ion-row *ngIf="(loadingStates$ | async).isLoading">
    <ion-col size="12" size-md="6" offsetMd="3" *ngFor="let skeleton of [0,1,2,3,4,5,6,7,8,9]">
      <ion-card>
        <ion-skeleton-text animated style="width: 100%; height: 160px"></ion-skeleton-text>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 45%; height: 20px"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 75%; height: 30px"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated style="width: 100%; height: 60px"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="(loadingStates$ | async).isSuccess">
    <ion-col size="12" size-md="6" offsetMd="3" *ngFor="let item of countries$ | async">
      <ion-card>
        <div class="ion-text-center">
          <img [src]="item.flag" />
        </div>
        <ion-card-header>
          <ion-card-subtitle>{{item.capital}}</ion-card-subtitle>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content> </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
