<ion-grid>
  <ion-row>
    <ion-col
      size="12"
      size-md="6"
      offsetMd="3"
      class="countries-card-container"
      *ngFor="let country of countries; trackBy: trackByFn"
    >
      <ion-card mode="ios" class="countries-card" (click)="onCard($event, country)">
        <ion-item lines="none">
          <ion-avatar slot="start" class="countries-card-image">
            <ion-img [src]="country.flag"></ion-img>
          </ion-avatar>
          <ion-label>
            <h1>{{ country.name }}</h1>
            <h3>{{ country.capital }}</h3>
          </ion-label>
        </ion-item>

        <ion-row>
          <ion-col class="countries-card-actions-left">
            <ion-button fill="clear" [color]="country.like ? 'primary' : 'medium'" (click)="onLike($event, country)">
              <ion-icon slot="icon-only" [name]="country.like ? 'heart' : 'heart-outline'"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="countries-card-actions-right">
            <ion-button
              fill="clear"
              [color]="country.comparison ? 'primary' : 'medium'"
              (click)="onComparison($event, country)"
            >
              <ion-icon slot="icon-only" [name]="country.comparison ? 'stats-chart' : 'stats-chart-outline'"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="medium" (click)="onShare($event, country)">
              <ion-icon slot="icon-only" name="share-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
